/* common style  */
body {
    font-family: 'Open Sans', sans-serif;
}

/* hader style  */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

/* first button */
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
}

.textprimari {
    color: #FD6E0A;}

/* nave related style */
.nav-titel {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px ;

 }

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

nav >h1{
    font-size: 50px;
}



.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
     
}
.banner .profile-picture{
    width: 584px;
    height: 678px;
    bottom: 0;
    right: 0;
}

.banner-greeting{

}

/* 
.textprimari {
    color: #FD6E0A;} */


    