/* common style  */
* {
    border-block: 0;
    margin: 0%;
    padding: 0%;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/* hader style  */
.header {
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

/* first button */
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
}

.textprimari {
    color: #FD6E0A;
}

/* nave related style */
.nav-titel {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

nav>h1 {
    font-size: 50px;
}



.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-picture {
    width: 584px;
    height: 678px;
    bottom: 0;
    right: 0;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-titel {
    font-size: 85px;
    font-weight: 7000;
    margin-top: 5px;
    margin-bottom: 20px;
}


.banner-description {
    margin: 18px;
    padding-bottom: 10px;
}


/* hadding end  */

/* main section  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130PX;
    border-radius: 10px;
    background-color: #fff8f3;
    margin-top: 130px 0;
}

.section-titel {
    color: #757575;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}


.about-info {
    text-align: center;
}



#what-i-do-description {
    padding: 30px 150px;
}

 .skill-container{
    display: flex;
    padding: 30px;
    
 }
 